/* Hero.css */
.hero-section {
    text-align: center;
    /* padding: 20px; */
; /* Adjust this if your navbar height changes */
}

.hero-title {
    font-size: 36px;
    margin-top: 25px;
  
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    gap: 30px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 20px;
    padding: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin: 0 0 10px;
}

.card-description {
    font-size: 16px;
    color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}
